body {
	margin:	0;
	padding: 0;
	font-family: 'Droid Serif', serif;
	color: rgb(88, 81, 81);
}

/*utility styling*/
.text-banner {
	background: rgba(0, 0, 0, .5);
}

.container {
	width: 960px;
	margin: 0 auto;
}

.box-box {
	margin: 100px 0;
}

.box-box-med {
	height: 350px;
}

.box-box-large {
	margin: 100px 0;
	height: 500px;	
}

.gray-box {
	width: 50px;
	height: 50px;
	background: gray;
}

.webtitle {
	margin: 50px auto;
	width: 400px;
	text-align: center;
	display: block;
}

.box-box .webtitle {
	margin: 0px auto;
	font-size: 20px;
	padding: 10px 0px 30px 0;
}

.box-box-med .webtitle {
	margin: 0px auto;
	font-size: 20px;
	padding: 10px 0px 30px 0;
}

.box-box-large .webtitle {
	margin: 0px auto;
	font-size: 20px;
	padding: 10px 0px 30px 0;
}

.night {
	background: black;
	padding: 20px 0px;
	color: white;
	text-shadow: 1px 1px 10px rgb(215, 140, 140);
}

/*Begin box-1*/
.box-1 {
	margin: 50px auto;
	width: 200px;
	height: 125px;
	background: rgb(190, 188, 202);
	box-shadow: inset 0 -6px 0 rgb(106, 101, 101);
	border-radius: 6px;
	-webkit-transition: box-shadow 0.6s ease;
}

.box-1:hover {
	margin-top: 53px;
	height: 122px;
	box-shadow: inset 0px -3px 0px rgb(106, 101, 101);
}

.box-1:active {
	box-shadow: 0px -3px 0px rgb(106, 101, 101);
}
/*End box-1*/
/*Begin box-2*/
.box-2 {
	width: 200px;
	height: 200px;
	margin: 50px auto;
	background: red;
	-webkit-transition: all 0.6s ease;
}

.box-2:hover {
	border-radius: 200px;
	background: black;
	-webkit-transform: rotate(180deg);
	}

/*End box-2*/
/*Begin box-3*/
.box-3 {
	width: 400px;
	height: 300px;
	margin: 50px auto;
	background: url(img/about-page-mason.jpg) no-repeat center center;
	-webkit-transition: 0.6s ease;
	position: relative;
}

.box-3 .mason-quote {
	margin: 0px auto;
	text-align: center;
	color: rgb(179, 239, 183);
	padding-top: 240px;
	text-shadow: 1px 2px 5px black;
	display: block;
	font-size: 28px;
}

.box-3 .flack-quote {
	margin: 0px auto;
	text-align: center;
	color: rgb(179, 239, 183);
	padding-top: 240px;
	text-shadow: 1px 2px 5px black;
	font-size: 28px;
	position: relative;
	display: none;
}

.box-3:hover {
	width: 400px;
	height: 300px;
	margin: 50px auto;
	background: url(img/flack-quote.jpg) no-repeat center center;
}

.box-3:hover > .mason-quote {
	display: none;
}

.box-3:hover > .flack-quote {
	display: block;
}

/*End box-3*/
/*Begin box-4*/
.box-4 {
	width: 400px;
	height: 225px;
	margin: 50px auto;
	-webkit-transition: 0.6s ease;
	position: relative;
	z-index: 50;
}

.box-4 img {
	width: 400px;
	height: 225px;
	overflow: hidden;
	z-index: 55;
}

.box-4:hover {
	width: 400px;
	height: 300px;
	margin: 50px auto;
	background: url(img/flack-quote.jpg) no-repeat center center;
}

.box-4 .text-banner {
	position: absolute;
	width: 400px;
	bottom: 0;
	z-index: 54;
	color: white;
	line-height: 40px;
	text-align: center;
}

/*End box-4*/
/*Begin box-5*/
.box-5 {
	width: 150px;
	height: 100px;
	margin: 50px auto;
	-webkit-transition: 0.6s ease;
	position: relative;
	z-index: 50;
	display: inline-block;
}

.box-5 img {
	width: 150px;
	height: 85px;
	overflow: hidden;
	z-index: 55;
}

.box-5:hover {
	width: 150px;
	height: 200px;
	margin: 50px auto;
	background: red;
}

.box-5 .text-banner {
	position: absolute;
	width: 150px;
	bottom: 0;
	z-index: 54;
	background: rgb(217, 217, 27);
	height: 20px;
	color: white;
	line-height: 40px;
	text-align: center;
}

.box-5:active {
	width: 150px;
	height: 95px;
	margin: 50px auto;
	background: red;
}

/*End box-5*/
/*Begin box-6*/
.box-6 {
	margin: 0 auto;
	width: 500px;
	height: 600px;
	position: relative;
}

.box-6 .box-row {
	margin: 5px 10px;
	padding: 0px 6px;
}

.wrapper {
	width: 55px;
	height: 55px;
	display: inline-block;
}

.box-6 .gray-box {

}

.box-6 .gray-box:hover {
	background: red;
	width: 60px;
	height: 60px;
	padding: 1px 1px;
	margin-top: -8px;
	margin-left: -6px;
	position: relative;
	box-shadow: 1px 2px 8px black;
	-webkit-transition: 0.6s ease;
}

/*End box-6*/
/*Begin box-7*/
.box-7 {
	margin: 0 auto;
	width: 500px;
	position: relative;
}

.box-7 .gray-box {
	background: gray;
	margin-bottom: 20px;
	width: 200px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 2px black;
	font-weight: bolder;
	-webkit-transition: 0.5s ease;

}

.box-7 .gray-box:hover {
	background: yellow;
	color: rgb(42, 39, 39);
	text-shadow: 0px 0px 0px black;
}

/*End box-7*/
/*Begin box-8*/

.box-8 {
	width: 300px;
	height: 260px;
	color: white;
	margin: 50px auto;
	padding-top: 40px;
	border-radius: 5px;
	border: 1px solid rgb(130, 129, 171);
	box-shadow: 0px 0px 20px rgb(142, 140, 215);
	background: rgba(148, 140, 215, 0.25);
	-webkit-transition: all 0.2s ease;
}

.box-8 span {
	font-size: 57px;
	font-weight: bold;
	text-align: center;
	margin: 15px auto;
	display: block;
}
.box-8:hover {
	border: 1px solid rgb(234, 212, 212);
	box-shadow: 0px 0px 40px rgb(178, 176, 224);
	text-shadow: 0px 0px 40px rgb(178, 176, 224);
}

.box-8:active {
	border: 1px solid rgb(234, 212, 212);
	box-shadow: 0px 0px 40px rgb(178, 176, 224);
	text-shadow: 0px 0px 40px rgb(178, 176, 224);
	color: black;
}

/*Begin .box-9*/
.box-9 {
	text-align: center;
	border: 1px solid rgb(195, 143, 38);
	width: 300px;
	height: 60px;
	position: relative;
	color: white;
	font-size: 22px;
	line-height: 60px;
	letter-spacing: 1px;
	border-radius: 6px;
	margin: 50px auto;
	text-shadow: 0 1px 1px rgb(113, 86, 30);
	box-shadow: inset 0 1px 1px #fff,
										0 1px 3px gray;
	background: #fcd833; /* Old browsers */
	background: -moz-linear-gradient(top, #fcd833 0%, #fca52e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcd833), color-stop(100%,#fca52e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcd833 0%,#fca52e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcd833 0%,#fca52e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcd833 0%,#fca52e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcd833 0%,#fca52e 100%); /* W3C */
}

.box-9:hover {
	border: 1px solid rgb(195, 143, 38);
	color: white;
	text-shadow: 0 1px 1px rgb(113, 86, 30);
	box-shadow: inset 0px 1px 1px #fff,
									  0 1px 3px gray;
	background: #fcd833; /* Old browsers */
	background: -moz-linear-gradient(top, #fca52e 0%, #fcd833 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fca52e), color-stop(100%,#fcd833)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fca52e 0%,#fcd833 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fca52e 0%,#fcd833 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fca52e 0%,#fcd833 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fca52e 0%,#fcd833 100%); /* W3C */
}

.box-9:active {
	border: 1px solid rgb(195, 143, 38);
	color: white;
	text-shadow: 0 1px 1px rgb(113, 86, 30);
	box-shadow: inset 0px 1px 1px #7B7474;
	background: #fcd833; /* Old browsers */
	background: -moz-linear-gradient(top, #fca52e 0%, #fcd833 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fca52e), color-stop(100%,#fcd833)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fca52e 0%,#fcd833 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fca52e 0%,#fcd833 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fca52e 0%,#fcd833 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fca52e 0%,#fcd833 100%); /* W3C */
}

.box-9:active span {
	text-shadow: ;
	font-size: 21px;
}

/*End .box-9*/
/*Begin .box-10*/

.box-10 {
	margin: 50px auto;
	width: 860px;	
}

.box-10 .gray-box {
	width: 200px;
	line-height: 50px;
	margin-right: 10px;
	display: inline-block;
	text-align: center;	
}